.typeBarHeader {
    text-align: center;
}

.typeBarHeader__button {
    height: 25px;
    width:180px;
    border-radius: 20px;
    background-color: #F4B9BF;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 8px 0 rgb(151, 151, 151);
    cursor:pointer;
    border: none;
    font-size: 16px;
}

.typeBarHeader__button__active {
    height: 25px;
    width:180px;
    border-radius: 20px;
    background-color: #7fbdae;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 8px 0 rgb(151, 151, 151);
    cursor:pointer;
    border: none;
    font-size: 16px;
}